<!DOCTYPE html>
<html lang="nb-NO">
<head>
    <meta charset="UTF-8"/>
    <title>{{> doctitle}}</title>
    <meta name="description" content="{{> docdescription}}"/>
    <meta name="subject" content="{{> docsubject}}"/>
    <meta name="author" content="NAV IT"/>
    {{#block 'aap-pdfgen/partials/style' }}
    {{/block}}
</head>
<body>
<div class="navlogo-wrapper">
    <img class="navlogo" alt="nav logo" src="{{ image "Hvit-resized.png" }}" />
</div>
<div class="title-wrapper">
    <h1>{{> title}}</h1>
</div>
<div class="container">
    <div class="personinfo">
        <div class="persontekst">
            <div class="persontekst__sidetopp">
                <img class="personikon" alt="person ikon" src="{{ image "Personikon.png" }}"/>
                <div class="persontekst__personalia">
                    <p class="navn">
                        {{ søker.navn.fornavn }} {{ søker.navn.mellomnavn}} {{ søker.navn.etternavn }}
                    </p>
                    <p class="id">
                        {{ insert_at søker.id 6 }}
                    </p>
                </div>
                <div class="sendt">
                    {{# if kvittering.mottattdato}}
                        <p>
                            Søknad mottatt<br/>{{ kvittering.mottattdato }}
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="temacontainer">
        {{#each kvittering.temaer as |tema|~}}
            <div class="tema">
                <h2 class="tema">{{ tema.overskrift }}</h2>
                <p>{{tema.beskrivelse}}</p>
                {{#each underblokker as |blokk|~}}
                    <div class="blokk">
                        {{> aap-pdfgen/partials/blokkpartial blokk}}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>
<div id="footer">
    <span class="soknadsid">{{ soknadsId }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
</body>
</html>
